	/* Menu Look & Feel */
	#topmenu #menu { 
		display: block; 
	}	

	#topmenu #menu li p { 
		display: none; 
	}	

	#topmenu DIV#menu ul#nav {
		background-color: rgb(240, 240, 240);
		color: rgb(66, 120, 211); 
		font-family: "Callibri", sans-serif;
		font-style: normal;
		font-size: 10pt;
		width: 740px;
		padding: 5px 5px 0px 5px;
	
		border: 1px solid black;

		z-index: 10;
		height: 15px;
	}
	
	#topmenu DIV#menu li>ul {
		list-style: none;
		background-color: rgb(240, 240, 240);
		border: 1px solid black;
	}

	/* Basic Menu Navigation */
	#topmenu ul#nav {
		list-style: none;
		padding: 0;
		margin: 0;
	}
		
	#topmenu DIV#menu ul#nav li, #topmenu ul#nav li ul li{
		float: left;
		position: relative;
	}
	#topmenu DIV#menu ul#nav li {	width: 110px; }
	#topmenu DIV#menu ul#nav li ul li { width: 200px }
		
	#topmenu DIV#menu ul#nav li a {
		text-decoration: none;
		display: block;
		color: inherit;
	}
		
	#topmenu DIV#menu li ul {
		display: none;
		position: absolute;
		width:196px;
		top: 18px;
		left: 0;
		margin-left:-1px;		
	}
		
	#topmenu DIV#menu li>ul {
		top: auto;
		left: auto;
		padding: 4px;
	}
		
	#topmenu DIV#menu li:hover {
		color: rgb(214, 0, 29);
	}
	#topmenu DIV#menu li:hover ul, #topmenu li.over ul {
		display: block;
		color: rgb(66, 120, 211);
	}	
	
	/* IE 6 Support */
	body {   behavior:url(csshover.htc); }
