		/* Header Styles */
		#header {
			display: block;

			background-color: black;
			font-family: "Callibri", sans-serif;
			width: 750px;
			border: 1px solid black;
			border-bottom-width: 0px;
			margin: 0px auto;
			height: 60px;
		}
		
		#header IMG, #header DIV { 
			height: 50px; 		
			float: left;
			margin: 5px 25px 5px 25px;
		}
		#header p span{
			font-variant: small-caps;
			font-size: 20pt; 
		}
		#header p span.blue { color: rgb(66, 120, 211); }
		#header p span.red { color: rgb(214, 0, 29); }

		#header p {		
			font-size: 11pt;
			color: rgb(66, 120, 211);
			margin: 0px;
			text-align: center;
		}

		.login_req {
			color: rgb(180, 180, 180);
		}

		/* Fix the scrolling problem (When you scroll the content up or down above the header or below the footer, the content shows up in the 5px margin... */
		#topmargin, #bottommargin {
			position: fixed;
			height: 5px;
			margin: 0;
			width: 100%;
			background-color: inherit;
			#background-color: #700000; /*IE 7 doesn't want to inheirt*/
			z-index: 5;
		}
		#topmargin {	top: 0px; }
		
		#bottommargin { bottom: 0px; }

	/* Sticky Footer */
	html, body { height: 100%; }
	
	#container {
		height: 100%;
		min-height: 600px;
		margin-bottom: -20px;
		position: relative;
		top: 79px;
		#top: 72px; /*IE 7*/
		_top: 72px; /*IE 7*/
		z-index: 1;
	}
	
	#footer { 
		height: 15px; 
		bottom: 5px;		
		z-index: 10;
	}

	/* Sticky Header */	
	#header, #topmenu #menu, #footer {	
		position: fixed;
		left: 50%;
		z-index: 10;
	}
	
	#header, #footer {
		margin-left: -390px;		
		#margin-left: -391px; /*IE 7 is off by 1 px */		
		_margin-left: -391px; /*IE is off by 1 px */		
	}
	#topmenu #menu {
		margin-left: -391px;		
		#margin-left: -392px; /*IE 7 is off by 1 px */		
		_margin-left: -392px; /*IE is off by 1 px */		
	}
	
	#header { top: 5px; }
	#topmenu #menu {top: 65px; }

	#header, #topmenu #menu, #container, #footer {
		border-left: 15px solid black;
		border-right: 15px solid black;
	}

	/* Other */
	html, body {
		background-color: #700000;
	}

	#footer {
		text-align: center;
	 	color: rgb(66, 120, 211);
	 }
	
	#container, #footer {
		width: 730px;
		background-color: white;
		padding: 10px;
		
		font-family: "Callibri", sans-serif;
		font-size: 12px;
	}
	
	#container {
			border-top: 0px;
			border-bottom: 0px;
			margin: 0 auto;
	}

	p.nocomments {
		display: none;
	}